select.small-select{
    font-size: 14px; 
    margin-left: 5px;
    padding: 5px; 
    width: 50px;
    height: 20px; 
    padding: 0 5px;
 }

 .input-page-container {
    font-family: Arial, sans-serif;
}

.row {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    padding-left: 0px;
}

label {
    width: 30px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold; 
}


  