<div class="input-page-container">
    <div class="row">Select the matrix size:</div>
    <div class="row">
        <div class="form-group">
            <label for="optA1">A:</label>
            <select id="optA1" class="small-select" [(ngModel)]="matrixAWidth" name="matrixAWidth" (change)="resetMatrixA()">
                <option *ngFor="let opt of sizeOpts" [value]="opt">{{ opt }}</option>
            </select>
            x
            <select id="optA2" class="small-select" [(ngModel)]="matrixAHeight" name="matrixAHeight" (change)="resetMatrixA()" >
                <option *ngFor="let opt of sizeOpts" [value]="opt">{{ opt }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="optB1">B:</label>
            <select id="optB1" class="small-select" [(ngModel)]="matrixBWidth" name="matrixBWidth" (change)="resetMatrixB()">
                <option *ngFor="let opt of sizeOpts" [value]="opt">{{ opt }}</option>
            </select>
            x
            <select id="optB2" class="small-select" [(ngModel)]="matrixBHeight" name="matrixBHeight" (change)="resetMatrixB()">
                <option *ngFor="let opt of sizeOpts" [value]="opt">{{ opt }}</option>
            </select>
        </div>
    </div>
    <div class="row">Please enter the matrices</div>
    <div class="row">The first matrix:</div>
    <div class="row">
        <div class="col-md-1"><b>A=</b></div>
        <div class="col-md-11"><app-matrix-component [matrixData]= "matrixA.data"></app-matrix-component></div>
    </div>
    <div class="row">The second matrix:</div>
    <div class="row">
        <div class="col-md-1"><b>B=</b></div>
        <div class="col-md-11"><app-matrix-component [matrixData]= "matrixB.data"></app-matrix-component></div>
    </div>
    <br>
    <div class="row">
        <div class="form-group justify-content-end">
            <label>A&#xB7;B</label><input id="multiplyBtn" type="button" value="=">
        </div>
    </div>
</div>
