<form (ngSubmit)="onSubmit()">
    <div class="input-page-container">
        <div class="row">Select the matrix size:</div>
        <div class="row">
            <div class="form-group">
                <label for="matrixAHeight">A:</label>
                <select id="matrixAHeight" class="small-select" [(ngModel)]="matrixAHeight" name="matrixAHeight" (change)="resetMatrixA()">
                    <option *ngFor="let opt of sizeOpts" [value]="opt">{{ opt }}</option>
                </select>
                x
                <select id="matrixAWidth" class="small-select" [(ngModel)]="matrixAWidth" name="matrixAWidth" (change)="resetMatrixA()" >
                    <option *ngFor="let opt of sizeOpts" [value]="opt">{{ opt }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="matrixBHeight">B:</label>
                <select id="matrixBHeight" class="small-select" [(ngModel)]="matrixBHeight" name="matrixBHeight" (change)="resetMatrixB()">
                    <option *ngFor="let opt of sizeOpts" [value]="opt">{{ opt }}</option>
                </select>
                x
                <select id="matrixBWidth" class="small-select" [(ngModel)]="matrixBWidth" name="matrixBWidth" (change)="resetMatrixB()">
                    <option *ngFor="let opt of sizeOpts" [value]="opt">{{ opt }}</option>
                </select>
            </div>
        </div>
        <div class="row">Please enter the matrices</div>
        <div class="row">The first matrix:</div>
        <div class="row">
            <div class="col-md-1"><b>A=</b></div>
            <div class="col-md-11"><app-matrix-component [matrixData]= "matrixA.data" [matrixName]="'matrixA'"></app-matrix-component></div>
        </div>
        <div class="row">The second matrix:</div>
        <div class="row">
            <div class="col-md-1"><b>B=</b></div>
            <div class="col-md-11"><app-matrix-component [matrixData]= "matrixB.data" [matrixName]="'matrixB'"></app-matrix-component></div>
        </div>
        <br>
        <div class="row">
            <div class="form-group justify-content-end">
                <label>A&#xB7;B</label><button id="multiplyBtn" type="submit">=</button>
            </div>
        </div>
    </div>
</form>